<ng-container
  *ngrxLet="{
    range: range$,
    summary: summary$,
    alerts: alerts$
  } as vm"
>
  <ion-content fullscreen>
    <main class="flex flex-col">
      <header class="flex flex-col items-center gap-3 py-8">
        <ion-thumbnail class="w-20 h-20 rounded-full">
          <fa-icon class="text-primary text-3xl" icon="chart-simple"></fa-icon>
        </ion-thumbnail>
        <h5 class="font-bold text-xl">Summary</h5>
      </header>
      <article class="flex flex-col gap-8">
        <section class="flex flex-col items-center gap-4">
          <div class="flex items-center justify-center">
            <div class="rounded-full w-36 h-36 border-4 border-primary">
              <div class="grid place-items-center w-full h-full">
                <span class="font-bold text-2xl text-primary">
                  {{ vm.summary.percentage | number : "1.0-0" }}%
                </span>
              </div>
            </div>
          </div>
          <ion-button
            class="bg-step50 rounded-full"
            fill="clear"
            shape="round"
            id="range"
          >
            <span class="text-primary">{{ vm.range }}</span>
          </ion-button>
        </section>
        <section class="ion-padding">
          <ion-grid>
            <ion-row>
              <ion-col class="flex flex-col items-center">
                <h4 class="font-bold text-primary">
                  {{ vm.summary.intensity | number }}
                </h4>
                <span class="text-medium text-sm">mins</span>
              </ion-col>
              <ion-col class="flex flex-col items-center">
                <h4 class="font-bold text-primary">
                  {{ vm.summary.distance | number }}
                </h4>
                <span class="text-medium text-sm">km</span>
              </ion-col>
              <ion-col class="flex flex-col items-center">
                <h4 class="font-bold text-primary">
                  {{ vm.summary.energy | number }}
                </h4>
                <span class="text-medium text-sm">cal</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </section>
        <section *ngIf="vm.alerts.length">
          <ion-list class="rounded-t-3xl" color="none" lines="none">
            <ion-list-header>
              <ion-label class="px-4 py-2 text-center">
                <span class="font-semibold text-primary text-lg">Alerts</span>
              </ion-label>
            </ion-list-header>
            <ng-container *ngFor="let alert of vm.alerts">
              <ng-container
                *ngTemplateOutlet="pending; context: { alert }"
              ></ng-container>
            </ng-container>
          </ion-list>
        </section>
      </article>
    </main>
  </ion-content>
</ng-container>

<!-- Choose range modal -->
<ion-modal
  #modal
  trigger="range"
  [initialBreakpoint]="0.45"
  [breakpoints]="[0, 0.25, 0.45]"
>
  <ng-template>
    <ion-list class="rounded-t-3xl h-full" lines="none">
      <ion-list-header>
        <ion-label class="text-center">
          <div class="font-bold text-primary text-base py-4">Choose Range</div>
        </ion-label>
      </ion-list-header>
      <ion-item button detail (click)="modal.dismiss(); range$.next('Daily')">
        <ion-thumbnail class="rounded-full my-2" slot="start">
          <fa-icon class="text-primary" icon="clock"></fa-icon>
        </ion-thumbnail>
        <ion-label class="px-4">Daily</ion-label>
      </ion-item>
      <ion-item button detail (click)="modal.dismiss(); range$.next('Weekly')">
        <ion-thumbnail class="rounded-full my-2" slot="start">
          <fa-icon class="text-primary" icon="calendar-week"></fa-icon>
        </ion-thumbnail>
        <ion-label class="px-4">Weekly</ion-label>
      </ion-item>
      <ion-item button detail (click)="modal.dismiss(); range$.next('Monthly')">
        <ion-thumbnail class="rounded-full my-2" slot="start">
          <fa-icon class="text-primary" icon="calendar-days"></fa-icon>
        </ion-thumbnail>
        <ion-label class="px-4">Monthly</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-modal>

<!-- Pending Alerts -->
<ng-template let-alert="alert" #pending>
  <ion-item-sliding>
    <ion-item button>
      <ion-thumbnail class="rounded-full my-4">
        <fa-icon class="text-xl text-primary" icon="bell"></fa-icon>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap pl-4 py-2">
        <span class="font-bold text-dark text-sm">{{ alert.title }}</span>
        <div class="flex items-center text-sm text-medium">
          <div class="flex items-center gap-2">
            <fa-icon
              class="text-primary text-xs"
              [icon]="alert.extra.workout.icon"
            ></fa-icon>
            <span>{{ alert.extra.workout.label }}</span>
          </div>
          <ng-container *ngIf="alert.schedule.every">
            <div class="flex items-center gap-2">
              <fa-icon class="text-primary text-xs" icon="repeat"></fa-icon>
              <span>{{ alert.schedule.every }}</span>
            </div>
          </ng-container>
        </div>
      </ion-label>
      <ion-label slot="end">
        <span class="text-primary text-xs">
          {{ alert.schedule.at | date : "HH:mm" }}
        </span>
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option class="bg-step50">
        <button class="px-8" (click)="onDelete(alert)">
          <fa-icon class="text-danger text-lg" icon="trash"></fa-icon>
        </button>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ng-template>
