<ion-content class="ion-padding" fullscreen>
  <article class="flex flex-col gap-4 items-center py-8">
    <fa-icon class="text-7xl text-primary" icon="tree"></fa-icon>
    <section class="flex flex-col gap-2 items-center">
      <h1 class="font-bold text-primary text-4xl">Forrest</h1>
      <h4 class="text-base">Time to exercise</h4>
    </section>
  </article>
</ion-content>

<ion-footer class="flex flex-col gap-4 ion-padding">
  <ion-button shape="round" expand="full"> Account </ion-button>
  <ion-button shape="round" expand="full"> Register </ion-button>
</ion-footer>
