<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Height</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <main class="flex flex-col h-full">
    <ion-item class="rounded-xl p-0">
      <ion-avatar class="bg-step100 grid place-items-center" slot="start">
        <fa-icon class="text-warning" icon="info"></fa-icon>
      </ion-avatar>
      <ion-label class="ion-text-wrap ml-4 py-2">
        <p class="text-xs">
          This helps calculate stride length, and energy expended.
        </p>
      </ion-label>
    </ion-item>
    <aside class="flex items-center justify-center flex-1">
      <fa-icon class="text-primary text-7xl" icon="ruler"></fa-icon>
    </aside>
    <article class="flex flex-col">
      <h6 class="font-bold text-center">Enter Height</h6>
      <form class="flex flex-col gap-4 py-4">
        <ion-item class="rounded-full">
          <ion-input class="text-sm" placeholder="Height (cm)"></ion-input>
          <fa-icon slot="end" icon="ruler"></fa-icon>
        </ion-item>
        <ion-button
          routerDirection="forward"
          routerLink="/onboarding/step2"
          shape="round"
          expand="full"
        >
          Continue
        </ion-button>
      </form>
    </article>
  </main>
</ion-content>
