<main class="flex flex-col h-screen">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="/"
          (click)="onPrev.emit($any($event).preventDefault())"
        ></ion-back-button>
      </ion-buttons>
      <ion-title>Activity Level</ion-title>
    </ion-toolbar>
  </ion-header>
  <article class="flex flex-col ion-padding flex-1">
    <ion-item class="rounded-xl p-0">
      <ion-avatar class="bg-step100 grid place-items-center" slot="start">
        <fa-icon class="text-warning" icon="info"></fa-icon>
      </ion-avatar>
      <ion-label class="ion-text-wrap ml-4 py-2">
        <p class="text-xs">
          This will scale your exercise goals to something achievable.
        </p>
      </ion-label>
    </ion-item>
    <aside class="flex items-center justify-center flex-1"></aside>
    <form
      class="flex flex-col"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      #ngForm="ngForm"
    >
      <h6 class="font-bold text-center mb-4">Enter Activity Level</h6>
      <ion-radio-group formControlName="activityLevel">
        <ng-container *ngrxLet="activityLevels$ as levels">
          <ng-container *ngFor="let level of levels">
            <ion-item class="rounded-full mb-3" button>
              <ion-radio [value]="level">
                <span class="font-bold text-sm mb-1">{{ level.label }}</span>
                <p class="text-xs text-medium">{{ level.description }}</p>
              </ion-radio>
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-radio-group>
      <section class="flex flex-col gap-4 py-4">
        <ion-button shape="round" expand="full" (click)="onSubmit()">
          Continue
        </ion-button>
      </section>
    </form>
  </article>
</main>
