<ion-content fullscreen>
  <main>
    <header class="flex flex-col items-center gap-4 py-8">
      <ion-thumbnail class="w-20 h-20 rounded-full">
        <fa-icon class="text-primary text-3xl" icon="walking"></fa-icon>
      </ion-thumbnail>
      <div clas="flex flex-col items-center text-center">
        <h5 class="font-bold mb-1 text-xl">Journal</h5>
      </div>
    </header>
    <article class="flex flex-col gap-4">
      <ng-container *ngrxLet="activitiesGrouped$ as activities">
        <ng-container *ngFor="let day of activities | keyvalue">
          <ng-container
            *ngTemplateOutlet="activityDay; context: { day }"
          ></ng-container>
        </ng-container>
      </ng-container>
    </article>
  </main>
  <ion-fab class="bottom-4" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list class="bottom-16" side="top">
      <ion-fab-button
        data-desc="Record Workout"
        routerDirection="forward"
        routerLink="/app/activities/record"
      >
        <fa-icon icon="record-vinyl"></fa-icon>
      </ion-fab-button>
      <ion-fab-button
        class="mb-2"
        data-desc="Add Activity"
        routerDirection="forward"
        routerLink="/app/activities/new"
      >
        <fa-icon icon="pen"></fa-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<!-- Day -->
<ng-template let-day="day" #activityDay>
  <ion-list class="py-0 bg-transparent" lines="none">
    <ion-list-header class="px-4 bg-step100">
      <fa-icon class="text-primary" icon="calendar"></fa-icon>
      <span class="font-bold pl-2">
        {{ day.key | date }}
      </span>
    </ion-list-header>
    <ng-container *ngFor="let activity of day.value">
      <ng-container
        *ngTemplateOutlet="activityItem; context: { activity }"
      ></ng-container>
    </ng-container>
  </ion-list>
</ng-template>

<!-- Activity -->
<ng-template let-activity="activity" #activityItem>
  <ion-item-sliding>
    <ion-item class="bg-step50" button (click)="onClick(activity)">
      <ion-thumbnail class="rounded-full h-12 w-12 my-4">
        <fa-icon class="text-primary" [icon]="activity.workout.icon"></fa-icon>
      </ion-thumbnail>
      <ion-label class="px-4">
        <span class="font-bold text-sm">{{ activity.title }}</span>
        <div class="flex gap-2">
          <ng-container *ngIf="activity.intensity">
            <div class="flex items-center gap-1 text-xs">
              <fa-icon class="text-primary" icon="heart"></fa-icon>
              <span class="text-medium">{{ activity.intensity }} pts</span>
            </div>
          </ng-container>
          <div class="text-medium">&middot;</div>
          <ng-container *ngIf="activity.energy">
            <div class="flex items-center gap-1 text-xs">
              <fa-icon class="text-primary" icon="fire"></fa-icon>
              <span class="text-medium">{{ activity.energy }} cal</span>
            </div>
          </ng-container>
        </div>
      </ion-label>
      <ion-label slot="end">
        <div class="text-primary text-xs">
          {{ activity.start | date : "HH:MM" }}
        </div>
        <div class="text-medium text-xs">
          {{ activity | activityEnd | date : "HH:MM" }}
        </div>
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option class="bg-step50">
        <button class="px-8" (click)="onDelete(activity)">
          <fa-icon class="text-danger text-lg" icon="trash"></fa-icon>
        </button>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ng-template>
