<ng-container *ngIf="true">
  <ion-header class="ion-no-border" translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/app/profile"></ion-back-button>
      </ion-buttons>
      <ion-title>Invites</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" fullscreen>
    <header class="flex flex-col items-center gap-4 py-8">
      <ion-thumbnail class="w-20 h-20 rounded-full">
        <fa-icon class="text-primary text-3xl" icon="user-plus"></fa-icon>
      </ion-thumbnail>
      <div clas="flex flex-col items-center text-center ">
        <h5 class="font-bold text-xl mb-1">Invites</h5>
      </div>
    </header>
    <main></main>
  </ion-content>
</ng-container>
