<main class="flex flex-col h-screen">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="/"
          (click)="onPrev.emit($any($event).preventDefault())"
        ></ion-back-button>
      </ion-buttons>
      <ion-title>Weight</ion-title>
    </ion-toolbar>
  </ion-header>
  <article class="flex flex-col flex-1 ion-padding">
    <ion-item class="rounded-xl p-0">
      <ion-avatar class="bg-step100 grid place-items-center" slot="start">
        <fa-icon class="text-warning" icon="info"></fa-icon>
      </ion-avatar>
      <ion-label class="ion-text-wrap ml-4 py-2">
        <p class="text-xs">
          This helps calculate energy expended whilst exercising.
        </p>
      </ion-label>
    </ion-item>
    <aside class="flex items-center justify-center flex-1">
      <fa-icon class="text-primary text-7xl" icon="weight-scale"></fa-icon>
    </aside>
    <article class="flex flex-col">
      <h6 class="font-bold text-center mb-4">Enter Weight</h6>
      <form
        class="flex flex-col gap-4"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        #ngForm="ngForm"
      >
        <ion-item class="rounded-full">
          <ion-input
            id="weight"
            name="weight"
            type="number"
            placeholder="Weight (kg)"
            formControlName="weight"
            required
          ></ion-input>
          <fa-icon slot="end" icon="weight-scale"></fa-icon>
        </ion-item>
        <ion-button shape="round" expand="full" (click)="onSubmit()">
          Continue
        </ion-button>
      </form>
    </article>
  </article>
</main>
