<ng-container
  *ngrxLet="{
    started: started$,
    paused: paused$,
    stopped: stopped$,
    energy: energy$,
    distance: distance$,
    intensity: intensity$,
    stopwatch: stopwatch$,
    workouts: workouts$
  } as vm"
>
  <ion-content fullscreen>
    <header class="flex flex-col items-center gap-4 py-8">
      <ng-container *ngIf="!vm.started">
        <ion-thumbnail class="w-20 h-20 rounded-full">
          <fa-icon class="text-warning text-3xl" icon="record-vinyl"></fa-icon>
        </ion-thumbnail>
        <h5 class="font-bold text-xl">Record Workout</h5>
      </ng-container>
      <ng-container *ngIf="vm.started && !vm.stopped">
        <ion-thumbnail class="w-20 h-20 rounded-full">
          <ng-container *ngIf="vm.paused">
            <fa-icon
              class="text-secondary text-3xl animate-grow"
              icon="pause"
            ></fa-icon>
          </ng-container>
          <ng-container *ngIf="!vm.paused">
            <fa-icon
              class="text-primary text-3xl animate-spin"
              icon="refresh"
            ></fa-icon>
          </ng-container>
        </ion-thumbnail>
        <h5 class="font-bold text-xl">Recording Workout</h5>
      </ng-container>
      <ng-container *ngIf="vm.started && vm.stopped">
        <ion-thumbnail class="w-20 h-20 rounded-full">
          <fa-icon
            class="text-primary text-3xl animate-grow"
            icon="check"
          ></fa-icon>
        </ion-thumbnail>
        <h5 class="font-bold text-xl">Recorded Workout</h5>
      </ng-container>
    </header>
    <main class="flex items-center justify-center">
      <form class="flex flex-col items-center gap-8">
        <section class="flex flex-col items-center gap-2">
          <ng-container *ngIf="workout.value as workout">
            <ion-button id="choose-workout" fill="clear">
              <h5 class="text-medium">{{ workout.label }}</h5>
            </ion-button>
          </ng-container>
          <h1
            class="text-primary text-4xl font-semibold"
            [class.text-warning]="!vm.started"
            [class.text-secondary]="vm.paused && !vm.stopped"
          >
            {{ vm.stopwatch | stopwatch }}
          </h1>
        </section>
        <section>
          <ion-grid>
            <ion-row>
              <ion-col class="flex flex-col items-center px-4">
                <span
                  class="text-primary_tint font-semibold text-xl"
                  [class.text-warning]="!vm.started"
                  [class.text-secondary]="vm.paused && !vm.stopped"
                >
                  {{ vm.intensity }}
                </span>
                <span class="text-medium text-xs">pts</span>
              </ion-col>
              <ion-col class="flex flex-col items-center px-4">
                <span
                  class="text-primary_tint font-semibold text-xl"
                  [class.text-warning]="!vm.started"
                  [class.text-secondary]="vm.paused && !vm.stopped"
                >
                  {{ vm.distance }}
                </span>
                <span class="text-medium text-xs">km</span>
              </ion-col>
              <ion-col class="flex flex-col items-center px-4">
                <span
                  class="text-primary_tint font-semibold text-xl"
                  [class.text-warning]="!vm.started"
                  [class.text-secondary]="vm.paused && !vm.stopped"
                >
                  {{ vm.energy }}
                </span>
                <span class="text-medium text-xs">cal</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </section>
      </form>
    </main>
  </ion-content>

  <ion-modal
    #modal
    trigger="choose-workout"
    [isOpen]="workout.value === null"
    [initialBreakpoint]="0.65"
    [breakpoints]="[0, 0.25, 0.45, 0.65]"
  >
    <ng-template>
      <ion-content>
        <ion-list class="h-full" lines="none">
          <ion-list-header class="bg-step50">
            <ion-label class="text-center text-lg font-bold py-2">
              Choose Workout
            </ion-label>
          </ion-list-header>
          <ng-container *ngFor="let item of vm.workouts">
            <ion-item button detail (click)="onChooseWorkout(item)">
              <ion-thumbnail class="rounded-full my-2" slot="start">
                <fa-icon class="text-primary" [icon]="item.icon"></fa-icon>
              </ion-thumbnail>
              <ion-label class="px-4">
                {{ item.label }}
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-footer class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ng-container *ngIf="vm.stopped && !vm.paused">
            <ion-button fill="clear" expand="full" (click)="onCancel()">
              <span class="text-danger">Cancel</span>
            </ion-button>
          </ng-container>
          <ng-container *ngIf="!vm.stopped && vm.paused">
            <ion-button fill="clear" expand="full" (click)="onResume()">
              <span class="text-secondary">Resume</span>
            </ion-button>
          </ng-container>
          <ng-container *ngIf="!vm.stopped && !vm.paused">
            <ion-button fill="clear" expand="full" (click)="onPause()">
              <span class="text-secondary">Pause</span>
            </ion-button>
          </ng-container>
          <ng-container *ngIf="vm.stopped && vm.paused">
            <ion-button fill="clear" expand="full" (click)="onCancel()">
              <span class="text-danger">Discard</span>
            </ion-button>
          </ng-container>
        </ion-col>
        <ion-col>
          <ng-container *ngIf="vm.stopped && !vm.paused">
            <ion-button fill="clear" expand="full" (click)="onStart()">
              <span class="text-primary">Start</span>
            </ion-button>
          </ng-container>
          <ng-container *ngIf="!vm.stopped">
            <ion-button fill="clear" expand="full" (click)="onFinish()">
              <span class="text-warning">Finish</span>
            </ion-button>
          </ng-container>
          <ng-container *ngIf="vm.stopped && vm.paused">
            <ion-button fill="clear" expand="full" (click)="onSave()">
              <span class="text-primary">Save</span>
            </ion-button>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ng-container>
