<ion-header class="ion-no-border" translucent>
  <ion-toolbar class="bg-transparent px-4">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button shape="round" routerLink="/app/settings">
        <fa-icon class="text-dark text-lg" icon="cog"></fa-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="relative" fullscreen>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar class="border-t border-step100" slot="bottom">
      <ion-tab-button tab="summary" routerLink="/app/summary">
        <fa-icon icon="home"></fa-icon>
        <span>Home</span>
      </ion-tab-button>
      <ion-tab-button tab="activities" routerLink="/app/activities">
        <fa-icon icon="rectangle-list"></fa-icon>
        <span>Journal</span>
      </ion-tab-button>
      <ion-tab-button tab="events" routerLink="/app/events">
        <fa-icon icon="calendar"></fa-icon>
        <span>Schedule</span>
      </ion-tab-button>
      <ion-tab-button tab="profile" routerLink="/app/profile">
        <fa-icon icon="user"></fa-icon>
        <span>Profile</span>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
