<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <main class="flex flex-col h-full">
    <aside class="flex items-center justify-center flex-1">
      <fa-icon class="text-primary text-7xl" icon="user-plus"></fa-icon>
    </aside>
    <article class="flex flex-col">
      <h6 class="font-bold text-center">Sign Up with Email</h6>
      <form
        class="flex flex-col gap-3 py-4 mb-2"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        #ngForm="ngForm"
      >
        <ion-item class="rounded-full">
          <ion-input
            id="email"
            name="email"
            type="email"
            autocomplete="email"
            autocapitalize="never"
            placeholder="Email"
            formControlName="email"
            required
          ></ion-input>
          <fa-icon slot="end" icon="envelope"></fa-icon>
        </ion-item>
        <ion-item class="rounded-full">
          <ion-input
            id="password"
            name="password"
            type="password"
            autocomplete="password"
            autocapitalize="never"
            placeholder="Password"
            formControlName="password"
            clearOnEdit
            required
          ></ion-input>
          <fa-icon slot="end" icon="lock"></fa-icon>
        </ion-item>
      </form>
      <section class="pb-4">
        <ion-button
          type="submit"
          shape="round"
          expand="full"
          (click)="onSubmit()"
        >
          Continue
        </ion-button>
      </section>
      <p class="text-center leading-relaxed text-sm">
        By continuing you agree to the
        <a routerDirection="forward" routerLink="/terms-of-service">
          Terms of Service
        </a>
        and the
        <a routerDirection="forward" routerLink="/privacy-policy">
          Privacy Policy
        </a>
        .
      </p>
    </article>
  </main>
</ion-content>
