<main class="flex flex-col h-screen">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="/"
          (click)="onPrev.emit($any($event).preventDefault())"
        ></ion-back-button>
      </ion-buttons>
      <ion-title>Sex</ion-title>
    </ion-toolbar>
  </ion-header>
  <article class="flex flex-col ion-padding flex-1">
    <ion-item class="rounded-xl p-0">
      <ion-avatar class="bg-step100 grid place-items-center" slot="start">
        <fa-icon class="text-warning" icon="info"></fa-icon>
      </ion-avatar>
      <ion-label class="ion-text-wrap ml-4 py-2">
        <p class="text-xs">This is used to tune recommended exercise levels.</p>
      </ion-label>
    </ion-item>
    <aside class="flex items-center justify-center flex-1">
      <fa-icon class="text-primary text-7xl" icon="venus-mars"></fa-icon>
    </aside>
    <article class="flex flex-col">
      <h6 class="font-bold text-center mb-4">Enter Sex</h6>
      <form
        class="flex flex-col gap-4"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        #ngForm="ngForm"
      >
        <ion-radio-group formControlName="sex">
          <ng-container *ngrxLet="sexes$ as sexes">
            <ng-container *ngFor="let sex of sexes">
              <ion-item class="rounded-full mb-3" button>
                <fa-icon
                  class="text-primary"
                  slot="start"
                  [icon]="sex.icon"
                ></fa-icon>
                <ion-label class="px-2"> {{ sex.label }} </ion-label>
                <ion-radio [value]="sex"></ion-radio>
              </ion-item>
            </ng-container>
          </ng-container>
        </ion-radio-group>
        <ion-button shape="round" expand="full" (click)="onSubmit()">
          Continue
        </ion-button>
      </form>
    </article>
  </article>
</main>
