<ng-container *ngrxLet="event$ as event">
  <ng-container *ngIf="event">
    <ion-content class="ion-padding" fullscreen>
      <header class="flex flex-col items-center gap-4 py-8">
        <ion-thumbnail class="w-20 h-20 rounded-full">
          <fa-icon class="text-primary text-3xl" icon="bell"></fa-icon>
        </ion-thumbnail>
        <div class="flex flex-col items-center gap-2">
          <h5 class="text-xl font-bold">{{ event.title }}</h5>
          <h6 class="text-base text-medium">
            {{ event.start | date }} @ {{ event.start | date : "HH:MM" }} -
            {{ event.end | date : "HH:MM" }}
          </h6>
        </div>
      </header>
      <main>
        <article class="flex flex-col gap-4">
          <ion-list class="rounded-3xl" lines="none">
            <ion-item>
              <ion-label>
                <span class="text-base text-dark">Activity</span>
              </ion-label>
              <ion-label slot="end">
                <span class="text-sm text-medium">
                  {{ event.workout.label }}
                </span>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <span class="text-base text-dark">Alert</span>
              </ion-label>
              <ion-label slot="end">
                <span class="text-sm text-medium">{{ event.delay.label }}</span>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <span class="text-base text-dark">Reminder</span>
              </ion-label>
              <ion-label slot="end">
                <span class="text-sm text-medium">
                  {{ event.repeat.label }}
                </span>
              </ion-label>
            </ion-item>
          </ion-list>
        </article>
      </main>
    </ion-content>

    <ion-footer class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button fill="clear" expand="full" (click)="onClose()">
              <span class="text-danger">Close</span>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="clear" expand="full" (click)="onEdit(event)">
              <span class="text-secondary">Edit</span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ng-container>
</ng-container>
