<ng-container *ngrxLet="{ profile: profile$ } as vm">
  <ion-header class="ion-no-border" translucent>
    <ion-toolbar class="bg-transparent px-4">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button shape="round" routerLink="/app/settings">
          <fa-icon class="text-dark text-lg" icon="cog"></fa-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" fullscreen>
    <header class="flex flex-col items-center gap-4 py-8">
      <ion-thumbnail class="w-20 h-20 rounded-full">
        <fa-icon class="text-primary text-3xl" icon="user"></fa-icon>
      </ion-thumbnail>
      <div clas="flex flex-col items-center text-center">
        <h5 class="font-bold mb-1 text-xl">Your profile</h5>
        <h6 class="text-medium text-lg text-center">
          {{ vm.profile.dob | date }}
        </h6>
      </div>
    </header>
    <main>
      <article class="flex flex-col gap-4">
        <ion-list class="rounded-3xl" lines="none">
          <ion-list-header>
            <ion-label class="text-medium px-4">Find people</ion-label>
          </ion-list-header>
          <ion-item button detail routerLink="/app/profile/friends">
            <ion-icon color="primary" name="people"></ion-icon>
            <span class="px-4 text-primary">Friends</span>
            <ion-label slot="end">
              <span class="text-sm text-medium"> 0 </span>
            </ion-label>
          </ion-item>
          <ion-item button detail routerLink="/app/profile/invites">
            <ion-icon color="warning" name="person-add"></ion-icon>
            <span class="px-4 text-warning">Invites</span>
            <ion-label slot="end">
              <span class="text-sm text-medium"> 0 </span>
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-list class="rounded-3xl" lines="none">
          <ion-list-header>
            <ion-label class="text-medium px-4">Your info</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-icon color="primary" slot="start" name="body"></ion-icon>
            <span class="px-4">Height</span>
            <ion-label slot="end">
              <span class="text-sm text-medium">
                {{ vm.profile.height }} cm
              </span>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon color="primary" slot="start" name="scale"></ion-icon>
            <span class="px-4">Weight</span>
            <ion-label slot="end">
              <span class="text-sm text-medium">
                {{ vm.profile.weight }} kg
              </span>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon
              color="primary"
              slot="start"
              name="male-female"
            ></ion-icon>
            <span class="px-4">Sex</span>
            <ion-label slot="end">
              <span class="text-sm text-medium">
                {{ vm.profile.sex.label }}
              </span>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon
              color="primary"
              name="calendar-number"
              slot="start"
            ></ion-icon>
            <span class="px-4">Age</span>
            <ion-label slot="end">
              <span class="text-sm text-medium">
                {{ vm.profile.dob | age }} yr
              </span>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon
              color="primary"
              slot="start"
              name="trending-up"
            ></ion-icon>
            <span class="px-4">Activity Level</span>
            <ion-label slot="end">
              <span class="text-sm text-medium">
                {{ vm.profile.activityLevel.label }}
              </span>
            </ion-label>
          </ion-item>
          <ion-item class="mt-8" detail routerLink="/app/profile/edit">
            <ion-icon slot="start" color="secondary" name="create"></ion-icon>
            <span class="px-4 text-secondary">Edit Profile</span>
          </ion-item>
        </ion-list>
      </article>
    </main>
  </ion-content>
</ng-container>
