<ng-container
  *ngrxLet="{
    workouts: workouts$,
    eventDelays: eventDelays$,
    eventRepeats: eventRepeats$
  } as vm"
>
  <ion-content class="ion-padding" fullscreen>
    <header class="flex flex-col items-center gap-4 py-8">
      <ion-thumbnail class="w-20 h-20 rounded-full">
        <fa-icon class="text-primary text-3xl" icon="cog"></fa-icon>
      </ion-thumbnail>
      <div clas="flex flex-col items-center text-center ">
        <h5 class="font-bold text-xl mb-1">Settings</h5>
      </div>
    </header>
    <main>
      <form class="flex flex-col gap-4" [formGroup]="form">
        <!-- Event Settings -->
        <ion-list class="rounded-3xl" formGroupName="events">
          <ion-list-header>
            <div class="font-bold text-primary text-base w-full px-4">
              Event
            </div>
          </ion-list-header>
          <ion-accordion-group>
            <!-- Workout Default Settings -->
            <ion-accordion>
              <ion-item slot="header">
                <ion-label slot="start">Workout</ion-label>
                <ion-label slot="end">
                  <span class="text-sm text-medium px-2">
                    {{ form.controls.events.controls.workout.value?.label }}
                  </span>
                </ion-label>
              </ion-item>
              <ion-radio-group slot="content" formControlName="workout">
                <ng-container *ngFor="let workout of vm.workouts">
                  <ion-item>
                    <ion-label>{{ workout.label }}</ion-label>
                    <ion-radio [value]="workout"></ion-radio>
                  </ion-item>
                </ng-container>
              </ion-radio-group>
            </ion-accordion>
            <!-- Event Delay Defaults Settings -->
            <ion-accordion>
              <ion-item slot="header">
                <ion-label slot="start">Alert</ion-label>
                <ion-label slot="end">
                  <span class="text-sm text-medium px-2">
                    {{ form.controls.events.controls.delay.value?.label }}
                  </span>
                </ion-label>
              </ion-item>
              <ion-radio-group slot="content" formControlName="delay">
                <ng-container *ngFor="let delay of vm.eventDelays">
                  <ion-item>
                    <ion-label>{{ delay.label }}</ion-label>
                    <ion-radio [value]="delay"></ion-radio>
                  </ion-item>
                </ng-container>
              </ion-radio-group>
            </ion-accordion>
            <!-- Event Repeat Default Settings -->
            <ion-accordion>
              <ion-item slot="header">
                <ion-label slot="start">Repeat</ion-label>
                <ion-label slot="end">
                  <span class="text-sm text-medium px-2">
                    {{ form.controls.events.controls.repeat.value?.label }}
                  </span>
                </ion-label>
              </ion-item>
              <ion-radio-group slot="content" formControlName="repeat">
                <ng-container *ngFor="let repeat of vm.eventRepeats">
                  <ion-item>
                    <ion-label>{{ repeat.label }}</ion-label>
                    <ion-radio [value]="repeat"></ion-radio>
                  </ion-item>
                </ng-container>
              </ion-radio-group>
            </ion-accordion>
          </ion-accordion-group>
        </ion-list>
      </form>
    </main>
  </ion-content>
</ng-container>
