<ng-container
  *ngrxLet="{
    workouts: workouts$,
    eventDelays: eventDelays$,
    eventRepeats: eventRepeats$
  } as vm"
>
  <ion-header class="ion-no-border" translucent>
    <ion-toolbar class="bg-transparent px-4">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button shape="round" routerLink="/app/settings">
          <fa-icon class="text-dark text-lg" icon="cog"></fa-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" fullscreen>
    <header class="flex flex-col items-center gap-4 py-8">
      <ion-thumbnail class="w-20 h-20 rounded-full">
        <fa-icon class="text-primary text-3xl" icon="cog"></fa-icon>
      </ion-thumbnail>
      <div clas="flex flex-col items-center text-center ">
        <h5 class="font-bold text-xl mb-1">Settings</h5>
      </div>
    </header>
    <main>
      <form class="flex flex-col gap-4" [formGroup]="form">
        <!-- Event Settings -->
        <ion-list class="rounded-3xl" formGroupName="events" lines="none">
          <ion-list-header>
            <div class="font-bold text-primary text-base w-full px-4">
              Event
            </div>
          </ion-list-header>
          <ion-accordion-group>
            <!-- Workout Default Settings -->
            <ion-accordion>
              <ion-item slot="header">
                <ion-label slot="start">Workout</ion-label>
                <ion-label slot="end">
                  <span class="text-sm text-medium px-2">
                    {{ form.controls.events.controls.workout.value?.label }}
                  </span>
                </ion-label>
              </ion-item>
              <ion-radio-group slot="content" formControlName="workout">
                <ng-container *ngFor="let workout of vm.workouts">
                  <ion-item>
                    <ion-radio [value]="workout">{{ workout.label }}</ion-radio>
                  </ion-item>
                </ng-container>
              </ion-radio-group>
            </ion-accordion>
            <!-- Event Delay Defaults Settings -->
            <ion-accordion>
              <ion-item slot="header">
                <ion-label slot="start">Alert</ion-label>
                <ion-label slot="end">
                  <span class="text-sm text-medium px-2">
                    {{ form.controls.events.controls.delay.value?.label }}
                  </span>
                </ion-label>
              </ion-item>
              <ion-radio-group slot="content" formControlName="delay">
                <ng-container *ngFor="let delay of vm.eventDelays">
                  <ion-item>
                    <ion-radio [value]="delay">{{ delay.label }}</ion-radio>
                  </ion-item>
                </ng-container>
              </ion-radio-group>
            </ion-accordion>
            <!-- Event Repeat Default Settings -->
            <ion-accordion>
              <ion-item slot="header">
                <ion-label slot="start">Repeat</ion-label>
                <ion-label slot="end">
                  <span class="text-sm text-medium px-2">
                    {{ form.controls.events.controls.repeat.value?.label }}
                  </span>
                </ion-label>
              </ion-item>
              <ion-radio-group slot="content" formControlName="repeat">
                <ng-container *ngFor="let repeat of vm.eventRepeats">
                  <ion-item>
                    <ion-radio [value]="repeat">{{ repeat.label }}</ion-radio>
                  </ion-item>
                </ng-container>
              </ion-radio-group>
            </ion-accordion>
          </ion-accordion-group>
        </ion-list>
        <!-- Event Settings -->
        <ion-list class="rounded-3xl" lines="none">
          <ion-list-header>
            <div class="font-bold text-primary text-base w-full px-4">
              Activities
            </div>
            <ion-button fill="clear" shape="rounded" slot="end">
              <fa-icon icon="add"></fa-icon>
            </ion-button>
          </ion-list-header>
          <ion-accordion-group>
            <ion-accordion>
              <ion-item slot="header">
                <ion-label>Manage workouts</ion-label>
                <ion-label slot="end">
                  <span class="text-medium text-sm px-2">
                    {{ vm.workouts.length }}
                  </span>
                </ion-label>
              </ion-item>
              <ion-list slot="content" lines="none">
                <ion-item
                  color="none"
                  class="bg-step100"
                  detail
                  (click)="onAddWorkout()"
                >
                  <ion-thumbnail class="bg-step200 rounded-full my-2">
                    <fa-icon class="text-warning" icon="add"></fa-icon>
                  </ion-thumbnail>
                  <ion-label class="px-4">Add custom workout</ion-label>
                </ion-item>
                <ng-container *ngFor="let workout of vm.workouts">
                  <ion-item-sliding>
                    <ion-item button detail (click)="onEditWorkout(workout)">
                      <ion-thumbnail class="rounded-full my-2">
                        <fa-icon
                          class="text-primary"
                          [icon]="workout.icon"
                        ></fa-icon>
                      </ion-thumbnail>
                      <ion-label class="px-4">
                        <div class="mb-1">{{ workout.label }}</div>
                        <div class="flex items-center gap-4 text-xs">
                          <div class="flex items-center gap-1">
                            <fa-icon
                              class="text-primary"
                              icon="heart"
                            ></fa-icon>
                            <span class="text-medium">
                              {{ workout.intensity }} pts/min
                            </span>
                          </div>
                          <div class="flex items-center gap-1">
                            <fa-icon class="text-primary" icon="fire"></fa-icon>
                            <span class="text-medium">
                              {{ workout.energy }} cal/min
                            </span>
                          </div>
                        </div>
                      </ion-label>
                    </ion-item>
                    <ion-item-options>
                      <ion-item-option class="bg-step50">
                        <button class="px-8" (click)="onDeleteWorkout(workout)">
                          <fa-icon
                            class="text-danger text-lg"
                            icon="trash"
                          ></fa-icon>
                        </button>
                      </ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                </ng-container>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
        </ion-list>
        <!--  Account  -->
        <ion-list class="rounded-3xl py-0" formGroupName="events" lines="none">
          <ion-item color="none" button detail (click)="onSignOut()">
            <ion-thumbnail class="rounded-full my-4">
              <fa-icon
                class="text-warning"
                icon="arrow-right-from-bracket"
              ></fa-icon>
            </ion-thumbnail>
            <ion-label class="px-4">
              <div class="mb-1 text-warning">Sign Out</div>
              <div class="text-sm text-medium">End your current session</div>
            </ion-label>
          </ion-item>
          <ion-item color="none" button detail (click)="onDeleteAccount()">
            <ion-thumbnail class="rounded-full my-4">
              <fa-icon class="text-danger" icon="trash"></fa-icon>
            </ion-thumbnail>
            <ion-label class="px-4 py-2 ion-text-wrap">
              <div class="mb-1 text-danger">Delete Account</div>
              <div class="text-sm text-medium">Delete all account info.</div>
            </ion-label>
          </ion-item>
        </ion-list>
      </form>
    </main>
  </ion-content>
</ng-container>
