<ion-content class="ion-padding" fullscreen>
  <article class="flex flex-col gap-4 items-center py-8">
    <fa-icon class="text-8xl text-primary" icon="tree"></fa-icon>
    <section class="flex flex-col gap-2 items-center">
      <h1 class="font-extrabold text-primary text-5xl">Forrest</h1>
      <h4 class="text-lg">Time to exercise</h4>
    </section>
  </article>
</ion-content>

<ion-footer class="flex flex-col gap-3 ion-padding">
  <ion-button
    shape="round"
    expand="full"
    routerDirection="forward"
    routerLink="/sign-in"
  >
    Account
  </ion-button>
  <ion-button
    shape="round"
    expand="full"
    routerDirection="forward"
    routerLink="/sign-up"
  >
    Register
  </ion-button>
</ion-footer>
