<ion-content class="ion-padding" fullscreen>
  <header class="flex flex-col items-center gap-4 py-8">
    <ion-thumbnail class="w-20 h-20 rounded-full">
      <fa-icon class="text-primary text-3xl" icon="pen"></fa-icon>
    </ion-thumbnail>
    <div clas="flex flex-col items-center text-center">
      <h5 class="font-bold mb-1 text-xl">Edit profile</h5>
    </div>
  </header>
  <main>
    <form [formGroup]="form" #ngForm="ngForm">
      <ion-list class="rounded-3xl" lines="none">
        <ion-item lines="none">
          <ion-icon color="primary" slot="start" name="body"></ion-icon>
          <span class="px-4">Height</span>
          <ion-input
            id="height"
            name="height"
            type="number"
            aria-label="height"
            placeholder="Height (cm)"
            formControlName="height"
            class="text-right"
            slot="end"
            clearOnEdit
            required
          ></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-icon color="primary" slot="start" name="scale"></ion-icon>
          <span class="px-4">Weight</span>
          <ion-label slot="end">
            <ion-input
              id="weight"
              name="weight"
              type="number"
              aria-label="weight"
              placeholder="Weight (kg)"
              formControlName="weight"
              class="text-right"
              slot="end"
              clearOnEdit
              required
            ></ion-input>
          </ion-label>
        </ion-item>
        <ion-accordion-group>
          <ion-accordion>
            <ion-item slot="header">
              <ion-icon
                color="primary"
                slot="start"
                name="male-female"
              ></ion-icon>
              <span class="px-4">Sex</span>
              <ng-container *ngIf="form.controls.sex.value">
                <ion-label slot="end">
                  <span class="text-medium text-sm px-2">
                    {{ form.controls.sex.value.label }}
                  </span>
                </ion-label>
              </ng-container>
            </ion-item>
            <ng-container *ngrxLet="sexes$ as sexes">
              <ion-radio-group formControlName="sex" slot="content">
                <ng-container *ngFor="let sex of sexes">
                  <ion-item>
                    <ion-label>{{ sex.label }}</ion-label>
                    <ion-radio [value]="sex"></ion-radio>
                  </ion-item>
                </ng-container>
              </ion-radio-group>
            </ng-container>
          </ion-accordion>
          <ion-accordion>
            <ion-item slot="header">
              <ion-icon
                color="primary"
                slot="start"
                name="trending-up"
              ></ion-icon>

              <span class="px-4">Activity Level</span>
              <ng-container *ngIf="form.controls.activityLevel.value">
                <ion-label slot="end">
                  <span class="text-medium text-sm px-2">
                    {{ form.controls.activityLevel.value.label }}
                  </span>
                </ion-label>
              </ng-container>
            </ion-item>
            <ng-container *ngrxLet="activityLevels$ as levels">
              <ion-radio-group formControlName="activityLevel" slot="content">
                <ng-container *ngFor="let level of levels">
                  <ion-item>
                    <ion-label>{{ level.label }}</ion-label>
                    <ion-radio [value]="level"></ion-radio>
                  </ion-item>
                </ng-container>
              </ion-radio-group>
            </ng-container>
          </ion-accordion>
          <ion-accordion>
            <ion-item slot="header">
              <ion-icon
                color="primary"
                name="calendar-number"
                slot="start"
              ></ion-icon>
              <span class="px-4">Date of Birth</span>
              <ion-label slot="end">
                <span class="text-medium text-sm px-2">
                  {{ form.controls.dob.value | date }}
                </span>
              </ion-label>
            </ion-item>
            <div slot="content">
              <ion-datetime
                formControlName="dob"
                presentation="date"
              ></ion-datetime>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-list>
    </form>
  </main>
</ion-content>

<ion-footer class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button
          color="danger"
          fill="clear"
          expand="full"
          shape="round"
          (click)="onCancel()"
        >
          <span>Cancel</span>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          color="primary"
          fill="clear"
          expand="full"
          shape="round"
          (click)="onSave()"
        >
          <span>Save</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
