<ng-container *ngrxLet="activity$ as activity">
  <ng-container *ngIf="activity">
    <ion-content class="ion-padding" fullscreen>
      <header class="flex flex-col items-center gap-4 py-8">
        <ion-thumbnail class="w-20 h-20 rounded-full">
          <fa-icon
            class="text-primary text-3xl"
            [icon]="activity.workout.icon"
          ></fa-icon>
        </ion-thumbnail>
        <div class="flex flex-col items-center">
          <h5 class="text-xl font-bold">{{ activity.workout.label }}</h5>
          <h6 class="text-base text-medium">
            {{ activity.start | date }} @ {{ activity.start | date : "HH:MM" }}
          </h6>
        </div>
      </header>
      <main>
        <article class="flex flex-col gap-4">
          <ion-list class="rounded-3xl" lines="none">
            <ng-container *ngIf="activity.intensity">
              <ion-item>
                <ion-label>
                  <span class="text-base text-dark">Intensity</span>
                </ion-label>
                <ion-label slot="end">
                  <span class="text-sm text-medium">
                    {{ activity.intensity | number : "1.2-2" }} pts
                  </span>
                </ion-label>
              </ion-item>
            </ng-container>
            <ng-container *ngIf="activity.distance">
              <ion-item>
                <ion-label>
                  <span class="text-base text-dark">Distance</span>
                </ion-label>
                <ion-label slot="end">
                  <span class="text-sm text-medium"
                    >{{ activity.distance }} km
                  </span>
                </ion-label>
              </ion-item>
            </ng-container>
            <ng-container *ngIf="activity.energy">
              <ion-item>
                <ion-label>
                  <span class="text-base text-dark">Calories</span>
                </ion-label>
                <ion-label slot="end">
                  <span class="text-sm text-medium">
                    {{ activity.energy | number }} cal
                  </span>
                </ion-label>
              </ion-item>
            </ng-container>
            <ng-container *ngIf="activity.duration">
              <ion-item>
                <ion-label>
                  <span class="text-base text-dark">Duration</span>
                </ion-label>
                <ion-label slot="end">
                  <span class="text-sm text-medium">
                    {{ activity.duration | duration }}
                  </span>
                </ion-label>
              </ion-item>
            </ng-container>
          </ion-list>
        </article>
      </main>
    </ion-content>

    <ion-footer class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button
              fill="clear"
              expand="full"
              shape="round"
              (click)="onClose()"
            >
              <span class="text-danger">Close</span>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button
              fill="clear"
              expand="full"
              shape="round"
              (click)="onEdit(activity)"
            >
              <span class="text-secondary">Edit</span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ng-container>
</ng-container>
