// Ionic
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// General styling

* {
  margin: 0;
  padding: 0;
  font-family: "Figtree", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ion-button {
  color: #212121;
  text-transform: capitalize;
}

ion-datetime {
  --background: transparent;
  --padding: 0;
  --margin: 0;
}

ion-list.bg-transparent,
ion-item.bg-transparent,
ion-toolbar.bg-transparent {
  --background: transparent;
}

ion-thumbnail {
  display: grid;
  place-items: center;
  background: var(--ion-color-step-100);
}
