<ng-container
  *ngrxLet="{
    current: current$,
    events: events$,
    eventDates: eventDates$
  } as vm"
>
  <ion-header class="ion-no-border" translucent>
    <ion-toolbar class="bg-transparent px-4">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button shape="round" routerLink="/app/settings">
          <fa-icon class="text-dark text-lg" icon="cog"></fa-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <main class="relative">
      <header class="flex flex-col items-center gap-3 py-8">
        <ion-thumbnail class="w-20 h-20 rounded-full">
          <fa-icon class="text-primary text-3xl" icon="calendar"></fa-icon>
        </ion-thumbnail>
        <h5 class="font-bold text-xl">Schedule</h5>
      </header>
      <aside>
        <ion-datetime
          presentation="date"
          (ionChange)="onChange($any($event))"
          [highlightedDates]="vm.eventDates"
        ></ion-datetime>
      </aside>
      <article>
        <ion-modal
          #modal
          isOpen
          [initialBreakpoint]="0.4"
          [breakpoints]="[0, 0.25, 0.4, 0.75]"
        >
          <ng-template>
            <ion-content>
              <ion-list class="rounded-t-3xl h-full" lines="none">
                <ion-list-header>
                  <ion-label class="text-center">
                    <span class="text-medium font-bold">
                      {{ vm.current | date }}
                    </span>
                  </ion-label>
                </ion-list-header>
                <ng-container *ngIf="vm.events.length; else noEvents">
                  <ng-container *ngFor="let item of vm.events">
                    <ng-container
                      *ngTemplateOutlet="event; context: { item }"
                    ></ng-container>
                  </ng-container>
                </ng-container>
                <ng-template #noEvents>
                  <ion-item>
                    <ion-label class="text-center py-4">
                      <span class="text-warning">No events today</span>
                    </ion-label>
                  </ion-item>
                  <ion-item color="none" detail (click)="onAdd()">
                    <ion-thumbnail class="bg-step200 rounded-full my-2">
                      <fa-icon class="text-warning" icon="add"></fa-icon>
                    </ion-thumbnail>
                    <ion-label class="px-4">Add Event</ion-label>
                  </ion-item>
                  <ion-item color="none" detail (click)="onPlanDay()">
                    <ion-thumbnail class="bg-step200 rounded-full my-2">
                      <fa-icon
                        class="text-warning"
                        icon="calendar-days"
                      ></fa-icon>
                    </ion-thumbnail>
                    <ion-label class="px-4">Plan Day</ion-label>
                  </ion-item>
                </ng-template>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>
      </article>
    </main>
    <ion-fab class="bottom-4" slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button color="primary">
        <ion-icon class="text-light" name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list class="bottom-16" side="top">
        <ion-fab-button data-desc="Plan Day" (click)="onPlanDay()">
          <fa-icon icon="calendar-days"></fa-icon>
        </ion-fab-button>
        <ion-fab-button class="mb-2" data-desc="Add Event" (click)="onAdd()">
          <fa-icon icon="calendar-plus"></fa-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-content>
</ng-container>

<!-- Event item -->
<ng-template let-item="item" #event>
  <ion-item-sliding>
    <ion-item button (click)="onClick(item)">
      <ion-thumbnail class="rounded-full my-2">
        <fa-icon class="text-primary" [icon]="item.workout.icon"></fa-icon>
      </ion-thumbnail>
      <ion-label class="py-2 px-4">
        <div class="font-bold text-sm mb-1">{{ item.title }}</div>
        <div class="flex items-center text-xs gap-2">
          <ng-container *ngIf="item.delay.by !== null">
            <div class="flex items-center gap-1">
              <fa-icon class="text-primary" icon="bell"></fa-icon>
              <span class="text-medium">{{ item.delay.by }} mins</span>
            </div>
          </ng-container>
          <ng-container *ngIf="item.repeat.frequency !== null">
            <div class="flex items-center gap-2">
              <fa-icon class="text-primary" icon="repeat"></fa-icon>
              <span class="text-medium">
                Every {{ item.repeat.frequency }} days
              </span>
            </div>
          </ng-container>
        </div>
      </ion-label>
      <ion-label slot="end">
        <div class="flex items-center gap-4">
          <div>
            <ng-container *ngIf="item.completed">
              <fa-icon class="text-primary" icon="check"></fa-icon>
            </ng-container>
            <ng-container *ngIf="!item.completed">
              <fa-icon class="text-danger" icon="xmark"></fa-icon>
            </ng-container>
          </div>
          <div class="flex flex-col">
            <div class="text-primary text-xs">
              {{ item.start | date : "HH:mm" }}
            </div>
            <div class="text-medium text-xs">
              {{ item.end | date : "HH:mm" }}
            </div>
          </div>
        </div>
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option class="bg-step50">
        <button class="px-8" (click)="onDelete(item)">
          <fa-icon class="text-danger text-lg" icon="trash"></fa-icon>
        </button>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ng-template>
